
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<img src="~/images/403-error.png" width="100%" />
<a asp-action="Index" asp-controller="Home" class="btn btn-default">Go To Homepage</a>
<a asp-action="Logout" asp-controller="Account" class="btn btn-default">logout</a>


