@{
    if (TempData.Keys.Count != 0)
    {

        <div class="alert @TempData["StatusColor"] alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>@TempData["StatusMessage"]</strong>
        </div>
    }
}
